<ons-page ng-controller="ChooseDesignController as cdl" ons-init="cdl.init($event)">
    <div class="designPageBody">
    	<div class="designHeader">
        <div class="backButton">
            <ons-back-button>戻る</ons-back-button>
        </div>
        	<p>{{user.name}}さんへ</p>
			<input type="button" value="ランダム" class="randomDesignButton">
		</div>
		<div class="chooseDesign">
			<input type="image" src="img/thankscard/01.jpg" alt="image01">
			<input type="image" src="img/thankscard/02.jpg" alt="image02">
			<input type="image" src="img/thankscard/03.jpg" alt="image03">
			<input type="image" src="img/thankscard/04.jpg" alt="image04">
			<input type="image" src="img/thankscard/05.jpg" alt="image05">
			<input type="image" src="img/thankscard/06.jpg" alt="image06">
			<input type="image" src="img/thankscard/07.jpg" alt="image07">
			<input type="image" src="img/thankscard/08.jpg" alt="image08">
		</div>
	</div>
</ons-page>